* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  border-radius: 5px;
  background: #fd6e0a;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* header and nav styles */

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner styles */
.banner {
  display: flex;
  margin: 0 200px;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 20px;
}
.banner-desc {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
